# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build/
.gradle
.kotlin

# other
eclipse
run
/docs/.vitepress/cache/
/node_modules/
/.vitepress/
*index.md
/.env
/docs/public/dokka/
/docs/.vitepress/dist/
/stitcher_antlr/src/main/antlr/dev/kikugie/stitcher/antlr/scanner/gen/
